.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 90px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(12px);
  gap: 50px;
  z-index: 1000;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-size: 1rem;
}

.navbar .logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #96C22C;
}

.navbar .cta-button2 {
  background-color: #96C22C;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.navbar .cta-button {
  background-color: #E4E9E9;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.navbar .cta-button2:hover {
  background-color: #ccc;
}

.navbar .cta-button:hover {
  background-color: #ccc;
}